body {
    display: flex;
    justify-content: center;
    
}

.container {
    justify-content: center;
    height: 700px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.display{
    min-height: 70px;
    background-color: rgb(201, 200, 200);
    
}

.row {
    display: flex;
}

button{
    font-size: 20px;
    padding: 10px;
    flex-basis: 100%;
}

.equal{
    display: flex;
}